body {
  background-color: #f5f6f8;
}

.jobsContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  flex: 0 0 33%;
  margin-bottom: 5%;
}

.jobCard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 250px;
  width: 450px;
  border-radius: 5px;
  background-color: white;
  margin-top: 30px;
  margin-bottom: 60px;
  margin-right: 20px;
}

.jobContainer {
  display: flex;
  margin-left: 10%;
  justify-content: left;
}

.jobImg {
  margin-top: -20px;
  height: 50px;
  width: 50px;
}

.jobImgDetail {
  height: 100px;
  width: 120px;
  padding-left: 0;
}

.jobDetailHeader {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  margin-right: 20%;
  border-radius: 10px;
}
.jobDetailButtonDiv {
  margin-left: 20%;
}
.jobDetailButton {
  margin-top: 30%;
  height: 40px;
  background-color: rgb(207, 206, 236);
  border-radius: 4px;
  border: 0;
  width: 120px;
  font-weight: bold;
}
.jobDetailHeaderDiv {
  margin-left: 8%;
  margin-bottom: -30%;
}

.jobDetailHeaderCompany {
  margin-top: 5%;
  font-size: 25px;
  width: 400px;
}

.jobDetailHeaderLocation {
  color: grey;
  margin-top: -5%;
}
.buttonText {
  text-decoration: none;
  color: #5865e0;
  background-color: none;
  border: 0;
}

.jobDetailHowToApply {
  background-color: #5865e0;
  height: 200px;
  width: 60%;
  border-radius: 10px;
  margin-left: 20%;
  margin-right: 20%;
  flex-wrap: wrap;
}
.jobDetailHowToApplyText {
  color: white;
  margin-left: 20px;
  padding-top: 5%;
}

.jobDetailHowToApplyBody {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 5%;
  flex-wrap: wrap;
}

.jobDetailDescription {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 15px;
  border-radius: 10px;
}

.jobDetailDescriptionText {
  padding: 5px 5px 5px 5px;
  margin-left: 5%;
  margin-right: 5%;
}

.headerDiv {
  display: flex;
  flex-direction: row;
  background-color: #5865e0;
  width: 100vw;
  max-width: 100vw;
  height: 150px;
  margin-top: -2.5%;
  margin-left: -1%;
}

.headerText {
  color: white;
  font-style: bold;
  margin-left: 5%;
  padding-top: 2%;
}

.form {
  margin-left: 15%;
  margin-right: 15%;
}
.formRow {
  display: flex;
  margin-left: 15%;
  margin-right: 30%;
  flex-direction: row;
  align-items: center;
  height: 80px;
  width: 80%;
  border-radius: 10px;
  margin-top: -3%;
}

.description {
  flex: 1;
  padding-right: 1rem;
  padding-left: 2rem;
}
.location {
  flex: 1;
  padding-right: 1rem;
  padding-left: 2rem;
}

.formButton {
  flex: 1;
  padding-left: 1rem;
  height: 40px;
  padding-right: 1rem;
}

.check {
  padding-left: 2rem;
}

.button {
  background-color: #5865e0;
  color: white;
  border: 0;
  border-radius: 5px;
  height: 100%;
  width: 80px;
  margin-left: 2rem;
}
.buttonDetail {
  background-color: #5865e0;
  color: white;
  border: 0;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  margin-top: 5px;
  font-size: large;
}

.inputForm {
  width: 250px;
  border: 0;
}

.inputDivider {
  width: 0.1rem;
  height: 100%;
  opacity: 0.2;
  background-color: rgb(10, 10, 10);
}

.applyNow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.howToApplyButton {
  background-color: #5865e0;
  border: 0;
  border-radius: 5px;
  height: 50px;
  width: 100px;
  margin-top: 15px;
  font-size: large;
}

.buttonTextApply {
  color: white;
  text-decoration: none;
}
.headerDetails {
  display: flex;
  flex-direction: column;
}

.switch {
  margin-top: 3%;
  margin-left: 80%;
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
